<form action="/process" method="post">
    <div class="form-group">
        <label for="name">Your Name:</label>
        <input type="text" name="name">
        <br>
        <label for="Dojo Location">Dojo Location:</label>
        <button onclick="myFunction()" class="dropbtn">Dropdown</button>
        <br>
        <label for="Favorite Language">Favorite Language:</label>
        <button onclick="myFunction()" class="dropbtn">Dropdown</button>
        <br>
        <label for="Comment (optional):">Comment (optional):</label>
         <br />
        <textarea name='comment' id='comment'></textarea><br />
    </div>
</form>